*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.all-content{
    background-color: #f7f5f2;
}
.homesec{
    width: 100%;
    height: 100vh;
    background-image:  url("https://clicks.com.au/app/uploads/2022/02/Coffee_text_2.jpg") ; 
    background-size: cover;
    background-position: 88%;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #b2744c;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width: 10px;
}
/* #navbar{
   height: 80px; 
     background-color: #b2744c; 
} */
#logo img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
     
    margin-left: 40px;
}
 
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{ 
    color: white !important;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 700;
    transition: .5s;
}
.nav-item .nav-link:hover{
    color:  black !important;
    background-color: white !important;
    border-radius: 8px;
    transition: .5s;
     
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
 
#home .content{
    padding-top: 210px;
    margin-left: 156px;
}
#home .content h3{
    font-size: 58px;
    color: white;
    font-weight: 900;
    letter-spacing: -.1vw;
    line-height: 3.5vw;
}
#home .content p{
    font-size: 19px;
    color: white;

    font-weight: 500;
    /* letter-spacing: -.1vw;
    line-height: 3.5vw; */
}
#btns{
    border: none;
    height: 48px;
    width: 126px; 
    font-size: 17px;
    background: white;
    border-radius: 5px;
    font-weight: 600;
    transition: a0.5s ease;
    cursor: pointer;
}
#btns:hover{
    color: white;
    background-color: rgba(178, 117, 76, 0.842);
}


#about{ 
    width: 100%;
    height: 100vh; 
}
#about .container{
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin: 50px;
    color: black;
    font-size: 42px;
    font-weight: 700;
}
.heading span{
    color: #b2744c;
}
#about .card{
    height: 500px;
    cursor: pointer;
    border-radius: 12px;
}
#about .card img{
    height: 100%;
     
    border-radius: 10px;
}
#about-btn{
    border: 2px solid #b2744c;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    width: 140px;
    height: 42px;
    background-color: transparent;
    color:  #b2744c;
    transition: 0.5s;
    cursor: pointer;
}

#about-btn:hover{ 
    background-color: #b2744c;
    color:  #fff;
     
}

@media screen and (max-width:982px){
    #about p{
        font-size: 8px;
    }
}
@media screen and (max-width:766px){
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vw;
    }
}


#top-cards{ 
    width: 100%;
    height: 60vh; 
    background-color: #fff;
}
.heading2{
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.heading2 span{
    color: #b2744c;
}

#top-cards .container{ 
    margin-top: 30px;
}
#top-cards .card{
    border-radius: 10px;   
    transition: 0.5s;
    cursor: pointer;
}
#top-cards .card img{
    border-radius: 10px;
}

#top-cards .card :hover{
    transform: translateY(-10px);
}

#menu{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: 700;
    border-bottom: 2px solid #b2744c;
}
#container2{
    margin-top: 50px;
}
#menu{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.star i{
    color: #b2744c;
}
#menu h3{
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
    font-size: 26px;
}
#menu p{
    font-size: 16px;
    color: #b2744c;
    padding-right:15px;
}
#menu p span{
    float: right;
    cursor: pointer;
    padding-right: 10px;
}

#product{
    width: 100%;
}
.heading4{
    text-align: center;
    color: #b2744c;
    font-size: 35px;
    font-weight: 700;
    padding-top: 100px;
    border-bottom: 2px solid #b2744c;
}

#container3{
    margin-top: 30px;
}
#product h3{
    text-align: center;
    color: #b2744c;
    font-size: 23px;
}
#product p{
    color: #b2744c;
    padding-top: 10px;
}
#product p span{
    float: right;
    cursor: pointer;
    padding-right: 10px;
}


#gallary{
    width: 100%;
}
.heading5{
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 60px;
    font-weight: 700;
}

#gallary .heading5 span {
    color: #b2744c;
}

#gallary .card{
    border-radius: 10px;
    cursor: pointer;
}
#gallary .card img{
    border-radius: 10px;
    cursor: pointer;
}


#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    
}

#contact .container{
    width: 100%;
    height: 80vh;  
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}
.heading6{
    font-size: 30px;
    font-weight: 700;
    margin-top: 70px;
}
.heading6 span{
    color: #b2744c;
}
#contact p{
    font-weight: 500;
    font-size: 13px;
    color: black;
}

#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #b2744c;
}
#contact-btn{
    width: 160px;
    height: 38px;
    border: none;
    background-color: #b2744c;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;

}
#contact #col p{
    color: white;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 13px;
    
}

@media screen and (max-width:766px){
    #contact .container{
        background:white;
    }
    #col{
        width: 100%;
        background: #b2744c;
    }
    #contact{
        height: 150vh;
    }
}

@media screen and (max-width:400px){
    #conatct input{
        width: 250px;
    }
}


#blogs{
    width: 100%;
}
#blogs .heading7{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 700;
}
#blogs .heading7 span{
    color: #b2744c;
}
#blogs .container{
    margin-top: 60px;
}

#blog h5{
    color: #b2744c;
}
#blog-btn{
    width: 200px;
    height: 36px;
    border: none;
    color: white;
    background: #b2744c;
    cursor: pointer;
}



#footer{
    width: 100%;
    background: #b2744c;
    margin-top: 50px;
    

}

.footer-logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 30px;
    cursor: pointer;
}
#footer .socail-links{
    text-align: center;
}

#footer .socail-links i{
     
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}
.credits a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

html{
    scroll-behavior: smooth;
}